<h1>Goon Squad</h1>
  <% @students.each do |student| %>
 <%# #   <p>Name:  student.first_name + " " + student.last_name | Status: student.active</p> %>
   <p> <%= link_to student.to_s, student_path(student) %></p></br>
  <% end %>
